USE [sametar2_RaSaGaleriDb]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 10.03.2026 16:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Token] [nvarchar](500) NULL,
	[ExpiresAt] [datetime] NULL,
	[IsRevoked] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 10.03.2026 16:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.03.2026 16:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[PasswordSalt] [nvarchar](200) NOT NULL,
	[FullName] [nvarchar](150) NULL,
	[Role] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[LastLoginAt] [datetime] NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[EmailVerificationToken] [nvarchar](255) NULL,
	[PasswordResetToken] [nvarchar](max) NULL,
	[PasswordResetTokenExpire] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserVpns]    Script Date: 10.03.2026 16:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserVpns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[VpnServerId] [int] NOT NULL,
	[ClientIp] [nvarchar](50) NULL,
	[ConnectedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ClientConfig] [nvarchar](max) NULL,
	[Protocol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VpnServers]    Script Date: 10.03.2026 16:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VpnServers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[IpAddress] [nvarchar](50) NOT NULL,
	[SshPort] [int] NOT NULL,
	[SshUser] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[PrivateKeyPath] [nvarchar](max) NULL,
	[LatencyMs] [int] NULL,
	[LoadPercent] [int] NULL,
 CONSTRAINT [PK__VpnServe__3214EC0742C1932F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [PasswordSalt], [FullName], [Role], [IsActive], [CreatedAt], [LastLoginAt], [IsEmailVerified], [EmailVerificationToken], [PasswordResetToken], [PasswordResetTokenExpire]) VALUES (N'481ad98a-8cdb-4fdc-ac7a-66bad3f9dcd7', N'sametarslan@gmail.com', N'yKXlpxULqgbUF2t4c4BJkcQ9I2gYHw4LX8zDdfe1r6A=', N'BTcUD++aZveaa1zkyVQrhntOhgvLTBA5xt7PipNc0W57DunSF1U75Et04vZGonIhEZ8TE1zY3tFkoMW7M3KtGg==', N'Samet Arslan', N'User', 1, CAST(N'2026-01-10T12:12:19.270' AS DateTime), CAST(N'2026-01-10T14:39:32.073' AS DateTime), 0, NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [PasswordSalt], [FullName], [Role], [IsActive], [CreatedAt], [LastLoginAt], [IsEmailVerified], [EmailVerificationToken], [PasswordResetToken], [PasswordResetTokenExpire]) VALUES (N'fb08c342-0290-4672-a866-b0c48887062b', N'test1@gmail.com', N'2zZJj6ykA+qiDSFDxQCsCh52ANslbQ+FDn9hdA9WKXM=', N'HLJs5N9wSil21ScHNDO5eYTMX7HK7UuEobooMWcyYKPJORx0pL1TsCm8zim+LavfJvrY8rE9yeU2ZaW/wEl9zA==', N'Test User', N'User', 1, CAST(N'2026-01-22T11:51:40.140' AS DateTime), CAST(N'2026-01-22T11:51:48.370' AS DateTime), 0, NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [PasswordSalt], [FullName], [Role], [IsActive], [CreatedAt], [LastLoginAt], [IsEmailVerified], [EmailVerificationToken], [PasswordResetToken], [PasswordResetTokenExpire]) VALUES (N'd5317046-984c-41d0-ac00-bdf6eec8a077', N'sametarslan55@gmail.com', N'EM7hzh/A4HFOhhet6DejazqoKhV7DiCdxTe/5YtrgVM=', N'cJcY0bEnShs8yD8X1alGWWS61O6mSueIBlBkQFVJdOV5upM0CCz7r9f00x3EYvjMbKIFnKCZ7lL5Yu72XyTsUA==', N'Samet Arslan', N'User', 1, CAST(N'2026-01-12T09:35:09.620' AS DateTime), CAST(N'2026-01-12T10:17:50.233' AS DateTime), 0, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[UserVpns] ON 

INSERT [dbo].[UserVpns] ([Id], [UserId], [VpnServerId], [ClientIp], [ConnectedAt], [IsActive], [ClientConfig], [Protocol]) VALUES (22, N'e32d7e21-20bc-4faa-b0c5-f50e2d39905a', 2, N'10.66.66.2', CAST(N'2026-02-08T19:06:29.3825781' AS DateTime2), 0, N'[Interface]
PrivateKey = sJD9FO2MAwG7SVk+2+Ebh6eSO1rEGFDjkOg6MCJhy2c=
Address = 10.66.66.2/32
DNS = 8.8.8.8

[Peer]
PublicKey = 3IowPZx+1O/llR9HoAHVf2maf/2aTCfEKc85kmeIf0Q=
Endpoint = 82.165.27.110:443
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
', 1)
INSERT [dbo].[UserVpns] ([Id], [UserId], [VpnServerId], [ClientIp], [ConnectedAt], [IsActive], [ClientConfig], [Protocol]) VALUES (23, N'e32d7e21-20bc-4faa-b0c5-f50e2d39905a', 2, N'10.66.66.3', CAST(N'2026-02-08T19:11:43.8127575' AS DateTime2), 0, N'[Interface]
PrivateKey = SDtlsdpkP2WjAK97VC8tQWJyDZmfdt0ywRgtcu14y30=
Address = 10.66.66.3/32
DNS = 8.8.8.8

[Peer]
PublicKey = 3IowPZx+1O/llR9HoAHVf2maf/2aTCfEKc85kmeIf0Q=
Endpoint = 82.165.27.110:443
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
', 1)
INSERT [dbo].[UserVpns] ([Id], [UserId], [VpnServerId], [ClientIp], [ConnectedAt], [IsActive], [ClientConfig], [Protocol]) VALUES (24, N'e32d7e21-20bc-4faa-b0c5-f50e2d39905a', 2, N'10.66.66.4', CAST(N'2026-02-08T19:17:16.7417368' AS DateTime2), 0, N'[Interface]
PrivateKey = ODVU5oqpStgJQwrXhdZV74y02I2v5mCBR4caaUMfpEg=
Address = 10.66.66.4/32
DNS = 8.8.8.8

[Peer]
PublicKey = 3IowPZx+1O/llR9HoAHVf2maf/2aTCfEKc85kmeIf0Q=
Endpoint = 82.165.27.110:443
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
', 1)
SET IDENTITY_INSERT [dbo].[UserVpns] OFF
GO
SET IDENTITY_INSERT [dbo].[VpnServers] ON 

INSERT [dbo].[VpnServers] ([Id], [Name], [Country], [IpAddress], [SshPort], [SshUser], [IsActive], [CreatedAt], [PrivateKeyPath], [LatencyMs], [LoadPercent]) VALUES (2, N'Ana Sunucu (IONOS)', N'Almanya', N'82.165.27.110', 22, N'root', 1, CAST(N'2026-02-08T21:26:28.8033333' AS DateTime2), N'C:\Users\Samet\Desktop\VpnWeb\vpn_server_key.pem', 65, 1)
SET IDENTITY_INSERT [dbo].[VpnServers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534989A942E]    Script Date: 10.03.2026 16:26:28 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[UserVpns] ADD  DEFAULT (getdate()) FOR [ConnectedAt]
GO
ALTER TABLE [dbo].[UserVpns] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserVpns] ADD  DEFAULT ((1)) FOR [Protocol]
GO
ALTER TABLE [dbo].[VpnServers] ADD  CONSTRAINT [DF__VpnServer__IsAct__403A8C7D]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VpnServers] ADD  CONSTRAINT [DF__VpnServer__Creat__412EB0B6]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VpnServers] ADD  DEFAULT ((0)) FOR [LatencyMs]
GO
ALTER TABLE [dbo].[VpnServers] ADD  DEFAULT ((0)) FOR [LoadPercent]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_Refresh_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_Refresh_User]
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Sub_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Subscriptions] CHECK CONSTRAINT [FK_Sub_User]
GO
ALTER TABLE [dbo].[UserVpns]  WITH CHECK ADD  CONSTRAINT [FK_UserVpns_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserVpns] CHECK CONSTRAINT [FK_UserVpns_Users]
GO
ALTER TABLE [dbo].[UserVpns]  WITH CHECK ADD  CONSTRAINT [FK_UserVpns_VpnServers] FOREIGN KEY([VpnServerId])
REFERENCES [dbo].[VpnServers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserVpns] CHECK CONSTRAINT [FK_UserVpns_VpnServers]
GO
